[Unit]
Description=SonarQube service
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/sonarqube/bin/linux-x86-64/sonar.sh start
ExecStop=/opt/sonarqube/bin/linux-x86-64/sonar.sh stop
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target
